.add-form {
  background-color: var(--color-accent);
  padding: 2.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    background-color: var(--color-success);
    color: white;
    text-transform: uppercase;

    &:hover {
      background-color: var(--color-accent);
      border: 2px solid var(--color-success);
      color: var(--color-success);
    }
  }

  @media (min-width: 768px) {
    flex-wrap: nowrap;

    h3 {
      width: auto;
      margin-bottom: 0;
    }
  }
}

body.dark .add-form {
  background-color: #1e3a5f;
}